#panel_detalle_fields{
	background-color:#edf5ff;
	margin-top:30px;
	margin-bottom:5px;
	border:1px solid #ccc;
	text-align:left;
	
}
#panel_detalle_fields .label{
	position:absolute;
	padding:5px;
	text-align:right;
	width:25%;
	min-width:200px;
}
#panel_detalle_fields input{
	position:relative;
	left:27%;
	background-color: #F7F7F7;
	border: #C0C0C0 1px solid;
	font-size: 12px;
	font-weight: bold;
	margin:5px;
}
#panel_detalle_fields button{
	position:relative;
	left:27%;
	font-weight: bold;
	margin:5px;
}
#panel_detalle_fields img{
	position:relative;
	left:27%;
}
#panel_detalle_fields textarea{
	position:relative;
	left:27%;
	background-color: #F7F7F7;
	border: #C0C0C0 1px solid;
	font-size: 12px;
	font-weight: bold;
	margin:5px;
}

select{
	width: 200px;
	background-color: #F7F7F7;
	border: #C0C0C0 1px solid;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin:5px;
}
#panel_detalle_fields select{
	position:relative;
	left:27%;
}

/*#button_nuevo{float:left;}*/

#button_aceptar_detalle{
	float:right;
}
#button_cancelar_detalle{
	float:right;
}
#panel_detalle_fields .required{
	border: 3px solid #F00 ;

}
