body{
	width:100%;
	height:100%;
	margin:0;
	font-family:Arial;
	font-size:12px;
	text-align:center;
	background-color:#f7f7f7;
        color:#900;
}

input[type='text'], input[type='password']{
	border:1px solid #ccc;
	font-size:10px;
}


#body{
	width:974px;
	margin:0 auto;
	text-align:left;

}

#header #logo{
	background:url(../img/logo.png) no-repeat;
	width:259px;
	height:160px;
	cursor:pointer;

}
#header #social{
	width:600px;
	height:32px;
	float:right;

}
#header #social img{
    float:right;
    margin:0 2px;
    border:0;
}
#header #title{
	float:right;
	margin-top:10px;
}
#header #title span{
	margin-left:12px;
}
#header #title div{
	background:url(../img/title.png) no-repeat;
	width:441px;
	height:52px;
}
#header #user{
	float:right;
	background:url(../img/libreta.png) no-repeat;
	width:257px;
	height:105px;
	color:#900;

}
#header #user #profile{
    margin-top:10px;
}
#header #user #profile a{
    font-size:12px;
}
#header #user span{
	margin-left:60px;
	width:80px;
	display:block;
	float:left;
	margin-top:3px;
}
#header #user input[type='text'], #header #user input[type='password']{
	width:100px;
	margin-top:3px;
}
#header #user input[type='submit']{
	border:1px solid #600;
	color:#fff;
	background-color:#900;
	padding:0px 15px;
	font-size:11px;
	float:right;
	margin:2px 30px 3px 0 ;
}
#header #user div{
	clear:right;
	width:100%;
	text-align:center;
}
#header #user div a{
	font-size:10px;
	color:#900;
}
#header #menu{
	background-color:#900;
	border:1px solid #600;
	float:right;
	width:700px;
}
#header #menu ul{
	margin:0;
	padding:0;
	height:40px;
}
#header #menu ul li{
	list-style:none;
	margin:10px 25px;
	float:left;
}
#header #menu ul li a{
	color:#fff;
	text-decoration:none;
}
#header #menu ul li:hover, #header #menu ul li.active{
	padding-bottom:2px;
	border-bottom:2px solid #fff;
	cursor:pointer;
}
#content{
	background-color:#fff;
}
#footer{
	background-color:#fff;
	padding:10px 0;
        clear:both;
}

.cl{clear:both;}
#footer div.panel{
	background-color:#990000;
	margin:0 10px;
	text-align:right;
	padding:25px 10px;
	}
#footer .terminos {
	padding:5px 13px;
	margin:0 10px;
	font-weight:bold;
}
#footer .terminos a{
	color:#fff;
	text-decoration:none;
	}

/*home*/
#panel-home{
    margin:7px 7px 0 7px;
}

#panel-home #destacado .top{
    background:url(../img/destacado-top.jpg) no-repeat;
    width:960px;
    height:13px;
}
#panel-home #destacado .bottom{
    background:url(../img/destacado-bottom.jpg) no-repeat;
    width:960px;
    height:13px;
    clear:both;
}
#panel-home #destacado .destacado-content{
    background-color:#900;
    color:#fff;
    padding:0 10px 0 20px;
}

#panel-home #destacado .destacado-content #noticias{
    float:right;
    background-color: #fff;
    color:#000;
    padding:30px 5px;
    width: 242px;
    height:420px;
}

#panel-home #destacado .destacado-content #noticias .ui-widget-header{
    background: none;
    border:none;
}
#panel-home #destacado .destacado-content #noticias .ui-state-hover, #panel-home #destacado .destacado-content #noticias .ui-state-focus{
    background: url("images/ui-bg_glass_40_333333_1x400.png") repeat-x scroll 50% 50% #333333;
}
#panel-home #destacado .destacado-content #noticias .scroll-pane{
    height:400px;
    overflow:hidden;
}

#panel-home #destacado .destacado-content #noticias .scroll-content{
    width:200px;
}
#panel-home #destacado .destacado-content #noticias #scroll-bar-wrap{
    float:right;
    margin-right:8px;
    border:0;
}
#panel-home #destacado .destacado-content #noticias .ui-slider .ui-slider-handle{
    height:100px;
}
#panel-home #destacado .destacado-content #noticias #scroll-bar-wrap .scroll-bar{
    height:380px;
}
#panel-home #destacado .destacado-content #noticias #scroll-bar-wrap .ui-corner-all{
    border:0;
}





#panel-home #destacado .destacado-content #noticias ul{
    list-style: none;
    padding:0 20px;
    color:#333;
}
#panel-home #destacado .destacado-content #noticias .noticias-fecha{
    color: #900;
}

#panel-home #destacado .destacado-content h1{
    margin:0;
    padding-top:15px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom:15px;
}

#panel-home #destacado .destacado-content #ficha-iconos{
    background:url(../img/iconos.png) no-repeat;
    width:99px;
    height:44px;
    float:right;
    margin: 15px 15px 0 0;
}
#panel-home #destacado .destacado-content #ficha-imagen{
    float:left;
}
#panel-home #destacado .destacado-content #ficha-info{
    float:left;
    padding:20px;
}
#panel-home #destacado .destacado-content #ficha-info .number{
    font-size:36px;
}
#panel-home #destacado .destacado-content #ficha-info .text{
    font-size:18px;
}
#panel-home #destacado .destacado-content #ficha-info .margin{
    margin-top:15px;
}
#panel-home #destacado .destacado-content h2{
    clear:left;
    font-size:14px;
    font-weight: bold;
    padding:30px 0 10px 0;
}
.ui-progressbar{
    margin:10px 0;
    height:1.1em;
    width:200px;
}

#panel-home #bottom-home{
    margin-top:40px;
    width:960px;
    border-top:10px solid #900;
}
#panel-home #bottom-home .texto{
    font-family:Courier, "Courier New";
    padding:20px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    clear:both;
}
#panel-home #bottom-home #emprendedores,
#panel-home #bottom-home #colaboradores,
#panel-home #bottom-home #patrocinadores{
    width:294px;
    height:191px;
    padding:70px 10px;
    float:left;
    margin-right:9px;
}
#panel-home #bottom-home #emprendedores{background:url(../img/emprendedores.jpg) no-repeat;}
#panel-home #bottom-home #colaboradores{background:url(../img/colaboradores.jpg) no-repeat;margin-right:0;}
#panel-home #bottom-home #patrocinadores{background:url(../img/patrocinadores.jpg) no-repeat;}
#panel-home #bottom-home .datos{
    font-size:11px;
    color:#333;
    margin-bottom: 15px;
    text-align: center;
}

/*fin home*/
/* proyecto */
#tabs {
    border:0;
    width:720px;
    padding:10px 0 0 10px;
    float:left;
}
.ui-tabs .ui-tabs-nav{
    padding: 0 0.2em 0 0;
}
.ui-tabs-nav.ui-corner-all{
    border:0;
    background:none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
    background:#f7f7f7;
}
.ui-tabs .ui-tabs-panel{
    background-color:#f7f7f7;
    border:1px solid #696969;
    -moz-border-radius: 0px 6px 6px 6px;
    -webkit-border-radius: 0px 6px 6px 6px;
    border-radius: 0px 6px 6px 6px;
}

#panel-project #tabs h1{
    margin:0;
    padding-top:15px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom:15px;
}
#panel-project #tabs h1 span{
    color:#000;
}


#panel-project #ficha-imagen{
    float:left;
}
#panel-project #ficha-info{
    float:left;
    padding:20px;
}
#panel-project #ficha-info .number{
    font-size:36px;
}
#panel-project #ficha-info .text{
    font-size:18px;
    color:#000;
}
#panel-project #ficha-info .margin{
    margin-top:15px;
}
#panel-project h2{
    clear:left;
    font-size:18px;
    font-weight: bold;
    padding:15px 0 10px 0;
}
#panel-project #ficha-bottom #project-social{
    width:155px;
    height:32px;
    float:right;
}
#panel-project #ficha-bottom #project-social img{
    border:0;
}
#panel-project #ficha-bottom span{
    color:#000;
}
#panel-project #concurso{
    color:#000;
}

#panel-project #concurso h2, #panel-project #concurso h3{
    color:#900;
}
#panel-project #concurso .propuesta{
    padding:20px;
    margin:10px;
    background-color: #ddd;
}
#panel-project #concurso .propuesta .comentario-concurso{
    background-color: #eee;
    padding:10px;
    margin:10px;
}
#panel-project #concurso .fecha{
    color:#333;
}

#panel-project #concurso .propuesta span{
    font-weight:bold;
    color:#900;
}
#panel-project #concurso #proponer{
    margin:20px;
}

#panel-project #recompensas{
    float:right;
    margin:40px 10px 0 0;
    width:225px;
    padding-bottom: 40px;
    background-color:#f7f7f7;
}

#panel-project #recompensas span{
    font-size:18px;
    display:block;
    padding:20px;
}
#panel-project #recompensas ul{
    padding:0 10px 0 20px;
}
#panel-project #recompensas li{
    list-style:none;
}
#panel-project #recompensas .recompensa-valor{
    font-size:18px;
    clear:right;
}
#panel-project #recompensas .recompensa-desc{
    color:#333;
    margin:3px 0;
}
#panel-project #recompensas .ui-widget-header{
    border:0;
    background:none;
}

#panel-project #comentarios{
    float:left;
    margin:20px 10px;
    color:#000;
    width:920px;
}

#panel-project #comentarios .comentario{
    background-color: #f7f7f7;
    width:100%;
    padding:15px;
    margin-bottom: 15px;
}
#panel-project #comentarios .comentario span{
    font-weight: bold;
    color:#900;
}
#panel-project #comentarios .comentario .fecha{
    color:#333;
}

.btn-red{
    background:url(../img/btn-red.jpg) no-repeat center center ;
    width:99px;
    height:20px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    cursor: pointer;
    font-weight: normal;
    border:0;

}
.btn-red:hover{
    font-weight: bold;
}

#panel-project #recompensas .btn-red{
    float:right;
}
#panel-project #recompensas .btn-red{
    float:right;
}

#panel-project #colaboradores .colaborador .contacto{
    color:#333;
}
#panel-project #colaboradores .colaborador p{
    color:#000;
}
.ui-dialog .ui-widget-header{
    background:none;
    border:0;
}
#amount{
    font-size:12px;
    text-align: right;
    width:55px;
    padding: 1px 10px;
}
#panel-form #reward-item{
    margin:10px 0;
    padding:10px 0;
    border-top:1px dotted #900;
    border-bottom:1px dotted #900;
}

/* fin proyecto */
/* registro y login */
#content #panel-form{
    padding:10px 0;
    margin:0 auto;
    width:500px;
    text-align: left;
    color:#000;
    border:1px solid #900;
    padding:10px;
    font-size: 12px;
}
#content #panel-form input{
    font-size: 12px;
}
#content #panel-form h2{
    color:#900;
}
#content #panel-form fieldset{
    border:0;
}
#content #panel-form a{
    color:#900;
}
#content #panel-form dt{
    float:left;
    clear:left;
    width:100px;
    padding-top:10px;
}
#content #panel-form.create-project dt{
    width:auto;
    float:none;
}
#content #panel-form.create-project dd{
    padding:0;
    margin:0;
}
#content #panel-form div#emailforgot-label{
    float:left;
    width:125px;
}
#content #panel-form dd{
    padding-top:10px;
}
.fb{
    background:url(../img/fb.png) no-repeat center center ;
    width:89px;
    height:21px;
    display:block;
    border:0;
}
#header #user .fb{
    float:right;
    margin-right:20px;
}
.fb span{
    display:none;
}
.errors li{
    list-style: none;
    color:#600;
}

/* registro y login */
/* funciona*/
#content #panel-funciona{
    padding-top: 20px;
}
#content #funciona{
    background:url(../img/funciona.jpg) no-repeat;
    height:268px;
    width: 933px;
    margin:10px auto;
}
#funciona #enlaces{
    font-size:20px;
    padding:40px 20px;
}
#funciona #enlaces a{
    color:#900;
    text-decoration:none;
    font-weight:bold;
}
#funciona #enlaces div{
    margin-bottom:12px;
}
#content #texto-funciona{
    margin:0 115px;
    color:#000;
    padding-bottom: 20px;
}
#content #texto-funciona h3{
    color:#900;
    font-weight:bold;
    font-size:14px;
}
/* FIN funciona */

/* FAQ */
#content #faq{
    margin:0 20px;
    padding:10px 0;
    color:#000;
}
#content #faq h3{
    color:#900;
    font-weight:bold;
    font-size:14px;
}
#content #faq a{
    color:#333;
    text-decoration:none;
}
#content #faq .question{
    color:#333;
    font-weight:bold;
}
#content #faq #answers{
    padding-top:40px;
}
/* Fin FAQ */
/* static */
#content .static{
    margin:0 20px;
    padding:10px 0;
    color:#000;
}

#content .static h3{
    color:#900;
}

#content #history {
	margin:0 100px;
	padding:20px 0;
        color:#000;
}

#content #history h2{
	color:#900;
}
#content #history p{
	margin-top:35px;
}


#content #pruebame{
	background:url(../img/pruebame.jpg) no-repeat;
	height:319px;
	width:349px;
	margin:60px auto
}
/* FIN static */
div .msg{
    padding:10px 30px 50px 30px;
}

/* Profile */
#content #panel-profile{
    margin:0 20px;
    padding:10px 0;
    color:#000;
}
#content #panel-profile h2{
    color:#900;
}

/* FIN Profile */
#li_ui_li_gen_1308307994921_0 #li_ui_li_gen_1308307994921_0-logo {
    display: none;
}