.yui-skin-sam .yuimenu .bd {
    background-color: #93B2CC;
    border:0px;
}
.yui-skin-sam .yuimenuitemlabel {
    color: #FFF;
    font-weight:bold;
}

.yui-skin-sam .yuimenuitem-selected {
    background-color: #CCC;
}
