<?xml version="1.0" encoding="UTF-8"?>
<config>
    <entity>
        <id_entity>1</id_entity>
        <title>Proyectos</title>
        <table>proyectos</table>
        <maintance_type>2</maintance_type>
        <layout>1</layout>
        <fields>
            <field>
                <name>id_proyecto</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>titulo</name>
                <description>Título</description>
                <type>varchar(128)</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>link_rewrite</name>
                <description>Url amigable</description>
                <type>varchar(45)</type>
                <null>N</null>
            </field>
            <field>
                <name>descripcion</name>
                <description>Descripción</description>
                <type>text</type>
                <null>N</null>
                <fckeditor>N</fckeditor>
            </field>
            <field>
                <name>activo</name>
                <description>Activo</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
            <field>
                <name>destacado</name>
                <description>Destacado</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
            <field>
                <name>fec_fin</name>
                <description>Fecha límite</description>
                <type>date</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>importe_solicitado</name>
                <description>Importe Solicitado</description>
                <type>float(10,2)</type>
                <null>N</null>
            </field>
            <field>
                <name>id_usuario</name>
                <description>Usuario</description>
                <entity_ref>3</entity_ref>
                <type>int(11)</type>
                <null>N</null>
            </field>
            <field>
                <name>imagen</name>
                <description>Imagen</description>
                <type>varchar(255)</type>
                <file>S</file>
                <sizes>
                    <size>
                        <width>420</width>
                    </size>
                </sizes>
                <in_list>S</in_list>
            </field>
        </fields>
        <entity>
            <id_entity>11</id_entity>
            <title>Recompensas</title>
            <table>recompensa</table>
            <fields>
                <field>
                    <name>id_recompensa</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>apoyo_minimo</name>
                    <description>Apoyo mínimo</description>
                    <type>int(4)</type>
                    <null>N</null>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>recompensa</name>
                    <description>Recompensa</description>
                    <type>varchar(255)</type>
                    <null>N</null>
                </field>
            </fields>
        </entity>
        <entity>
            <id_entity>12</id_entity>
            <title>Apoyos</title>
            <table>apoyo</table>
            <fields>
                <field>
                    <name>id_apoyo</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>id_usuario</name>
                    <description>Usuario</description>
                    <type>int(11)</type>
                    <entity_ref>3</entity_ref>
                    <null>N</null>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>apoyo</name>
                    <description>Apoyo</description>
                    <type>float(10,2)</type>
                    <null>N</null>
                </field>
                <field>
                    <name>fecha</name>
                    <description>Fecha</description>
                    <type>date</type>
                    <null>N</null>
                </field>
            </fields>
        </entity>
   </entity>

   <entity>
        <id_entity>2</id_entity>
        <title>Noticias</title>
        <table>noticia</table>
        <maintance_type>2</maintance_type>
        <fields>
            <field>
                <name>id_noticia</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>fecha</name>
                <description>Fecha</description>
                <type>date</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>texto</name>
                <description>Noticia</description>
                <type>varchar(255)</type>
                <null>N</null>
            </field>
       </fields>
   </entity>
   
   <entity>
        <id_entity>3</id_entity>
        <title>Usuarios</title>
        <table>usuario</table>
        <maintance_type>2</maintance_type>
        <fields>
            <field>
                <name>id_usuario</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>email</name>
                <description>Email</description>
                <type>varchar(255)</type>
                <combo_description>S</combo_description>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                    <name>username</name>
                    <description>Nombre de usuario</description>
                    <type>varchar(50)</type>
            </field>
            <field>
                    <name>fec_alta</name>
                    <description>Fec. Alta</description>
                    <type>date</type>
            </field>
            <field>
                    <name>pass</name>
                    <description>Contraseña</description>
                    <type>varchar(32)</type>
                    <null>N</null>
                    <in_list>S</in_list>
                    <pass>S</pass>
            </field>
            <field>
                <name>activo</name>
                <description>Activo</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
       </fields>
   </entity>


    
</config>