<?xml version="1.0" encoding="UTF-8"?>
<config>
    <entity>
        <id_entity>1</id_entity>
        <title>Proyectos</title>
        <table>proyectos</table>
        <maintance_type>2</maintance_type>
        <layout>1</layout>
        <fields>
            <field>
                <name>id_proyecto</name>su
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>titulo</name>
                <description>Título</description>
                <type>varchar(128)</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>link_rewrite</name>
                <description>Url amigable</description>
                <type>varchar(45)</type>
                <null>N</null>
            </field>
            <field>
                <name>ciudad</name>
                <description>Ciudad</description>
                <type>varchar(45)</type>
                <null>S</null>
                <in_list>N</in_list>
            </field>
            <field>
                <name>fecha</name>
                <description>Fecha evento</description>
                <type>date</type>
                <null>S</null>
            </field>
            <field>
                <name>id_categoria</name>
                <description>Categoria</description>
                <entity_ref>10</entity_ref>
                <type>int(11)</type>
                <null>N</null>
            </field>
            <field>
                <name>breve_descripcion</name>
                <description>Breve Descripción</description>
                <type>varchar(255)</type>
            </field>
            <field>
                <name>descripcion</name>
                <description>Descripción</description>
                <type>text</type>
                <null>N</null>
                <fckeditor>S</fckeditor>
            </field>

            <field>
                <name>activo</name>
                <description>Activo</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
            <field>
                <name>destacado</name>
                <description>Destacado</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
            <field>
                <name>fec_fin</name>
                <description>Fecha límite</description>
                <type>date</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>importe_solicitado</name>
                <description>Importe Solicitado</description>
                <type>float(10,2)</type>
                <null>N</null>
            </field>
            <field>
                <name>id_usuario</name>
                <description>Usuario</description>
                <entity_ref>3</entity_ref>
                <type>int(11)</type>
                <null>N</null>
            </field>
            <field>
                <name>video_embed</name>
                <description>Vídeo</description>
                <type>varchar(512)</type>
            </field>
            <field>
                <name>imagen</name>
                <description>Imagen</description>
                <type>varchar(255)</type>
                <file>S</file>
                <sizes>
                    <size>
                        <width>420</width>
                    </size>
                    <size>
                        <width>160</width>
                    </size>
                </sizes>
                <in_list>S</in_list>
            </field>
            <field>
                <name>ticket_centro_1</name>
                <description>Línea 1 centro ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>ticket_centro_2</name>
                <description>Línea 2 centro ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>ticket_centro_3</name>
                <description>Línea 3 centro ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>ticket_centro_4</name>
                <description>Línea 4 centro ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>ticket_derecha_1</name>
                <description>Línea 1 derecha ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>ticket_derecha_2</name>
                <description>Línea 2 derecha ticket</description>
                <type>varchar(45</type>
            </field>
            <field>
                <name>titulo_concurso</name>
                <description>Título concurso</description>
                <type>varchar(128)</type>
            </field>
            <field>
                <name>descripcion_concurso</name>
                <description>Descripción concurso</description>
                <type>text</type>
                <fckeditor>N</fckeditor>
            </field>
        </fields>
         <entity>
            <id_entity>11</id_entity>
            <title>Recompensas</title>
            <table>recompensa</table>
            <fields>
                <field>
                    <name>id_recompensa</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>apoyo_minimo</name>
                    <description>Apoyo mínimo</description>
                    <type>int(4)</type>
                    <null>N</null>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>recompensa</name>
                    <description>Recompensa</description>
                    <type>varchar(255)</type>
                    <in_list>S</in_list>
                    <null>N</null>
                </field>
                <field>
                    <name>subasta</name>
                    <description>¿Subasta?</description>
                    <type>char(1)</type>
                </field>
                <field>
                    <name>no_entrada</name>
                    <description>No incluye entrada</description>
                    <type>char(1)</type>
                </field>
            </fields>
        </entity>
        <entity>
            <id_entity>12</id_entity>
            <title>Apoyos</title>
            <table>apoyo</table>
            <fields>
                <field>
                    <name>id_apoyo</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>id_usuario_apoyo</name>
                    <description>Usuario</description>
                    <type>int(11)</type>
                    <entity_ref>3</entity_ref>
                    <null>N</null>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>apoyo</name>
                    <description>Apoyo</description>
                    <type>float(10,2)</type>
                    <null>N</null>
                </field>
                <field>
                    <name>fecha</name>
                    <description>Fecha</description>
                    <type>date</type>
                    <null>N</null>
                </field>
                <field>
                    <name>cod_patrocinio_apoyo</name>
                    <description>Quién le patrocina</description>
                    <type>varchar(10)</type>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>cod_ticket</name>
                    <description>Cód. Ticket.</description>
                    <type>varchar(10)</type>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>preapproved_key</name>
                    <description>Clave Preaprobado</description>
                    <type>varchar(25)</type>
                </field>
                <field>
                    <name>approved</name>
                    <description>Aprobado</description>
                    <type>char(1)</type>
                </field>
            </fields>
        </entity>
        <entity>
            <id_entity>13</id_entity>
            <title>Colaboradores</title>
            <table>colaborador</table>
            <fields>
                <field>
                    <name>id_colaborador</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>colaborador</name>
                    <description>Colaborador</description>
                    <type>varchar(255)</type>
                    <in_list>S</in_list>
                    <null>N</null>
                </field>
                <field>
                    <name>contacto</name>
                    <description>Contacto</description>
                    <type>varchar(255)</type>
                    <null>N</null>
                </field>
                <field>
                    <name>descripcion_colaborador</name>
                    <description>Descripción</description>
                    <type>text</type>
                    <null>S</null>
                </field>
                
            </fields>
        </entity>
        <entity>
            <id_entity>14</id_entity>
            <title>Propuestas</title>
            <table>propuestas</table>
            <fields>
                <field>
                    <name>id_propuesta</name>
                    <description>id</description>
                    <type>int(11)</type>
                    <null>N</null>
                    <auto_increment>S</auto_increment>
                    <primary_key>S</primary_key>
                </field>
                <field>
                    <name>id_usuario_propuesta</name>
                    <description>Usuario</description>
                    <type>int(11)</type>
                    <entity_ref>3</entity_ref>
                    <null>N</null>
                    <in_list>S</in_list>
                </field>
                <field>
                    <name>propuesta</name>
                    <description>Propuesta</description>
                    <type>text</type>
                    <null>N</null>
                </field>
                <field>
                    <name>fecha</name>
                    <description>Fecha</description>
                    <type>date</type>
                    <null>N</null>
                </field>
                <field>
                    <name>adjunto</name>
                    <description>Adjunto</description>
                    <type>varchar(255)</type>
                    <file>S</file>
                </field>
            </fields>
        </entity>
   </entity>

   <entity>
        <id_entity>2</id_entity>
        <title>Noticias</title>
        <table>noticia</table>
        <maintance_type>2</maintance_type>
        <fields>
            <field>
                <name>id_noticia</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>fecha</name>
                <description>Fecha</description>
                <type>date</type>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                <name>texto</name>
                <description>Noticia</description>
                <type>varchar(255)</type>
                <null>N</null>
            </field>
       </fields>
   </entity>
   
   <entity>
        <id_entity>3</id_entity>
        <title>Usuarios</title>
        <table>usuario</table>
        <maintance_type>2</maintance_type>
        <fields>
            <field>
                <name>id_usuario</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>email</name>
                <description>Email</description>
                <type>varchar(255)</type>
                <combo_description>S</combo_description>
                <null>N</null>
                <in_list>S</in_list>
            </field>
            <field>
                    <name>username</name>
                    <description>Nombre de usuario</description>
                    <type>varchar(50)</type>
            </field>
            <field>
                    <name>cod_patrocinador</name>
                    <description>Código de patrocinador</description>
                    <type>varchar(10)</type>
                    <in_list>S</in_list>
            </field>
            <field>
                    <name>cod_patrocinio</name>
                    <description>Quién le patrocina</description>
                    <type>varchar(10)</type>
                    <in_list>S</in_list>
            </field>
            <field>
                    <name>puntos</name>
                    <description>Puntos</description>
                    <type>int(3)</type>
                    <in_list>S</in_list>
            </field>
            <field>
                    <name>descuento</name>
                    <description>% Descuento</description>
                    <type>int(2)</type>
                    <in_list>S</in_list>
            </field>
            <field>
                    <name>fec_alta</name>
                    <description>Fec. Alta</description>
                    <type>date</type>
            </field>
            <field>
                <name>imagen</name>
                <description>Imagen</description>
                <type>varchar(255)</type>
                <file>S</file>
                <sizes>
                    <size>
                        <width>50</width>
                    </size>
                </sizes>
                <in_list>S</in_list>
            </field>
            <field>
                <name>activo</name>
                <description>Activo</description>
                <type>char(1)</type>
                <null>N</null>
            </field>
       </fields>
   </entity>

   <entity>
        <id_entity>4</id_entity>
        <title>Sobre LBE</title>
        <maintance_type>1</maintance_type>
        <table>static_sobre</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text</name>
                <description>Texto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>9</id_entity>
        <title>Cómo funciona</title>
        <maintance_type>1</maintance_type>
        <table>static_funciona</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text_1</name>
                <description>Que es</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
            <field>
                <name>text_2</name>
                <description>Publicar tu proyecto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
            <field>
                <name>text_3</name>
                <description>Patricinar / Invertir</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
            <field>
                <name>text_4</name>
                <description>Colaborar</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
            <field>
                <name>text_5</name>
                <description>Sistema de pagos</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>5</id_entity>
        <title>FAQ</title>
        <maintance_type>1</maintance_type>
        <table>static_faq</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text</name>
                <description>Texto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>6</id_entity>
        <title>Aviso Legal</title>
        <maintance_type>1</maintance_type>
        <table>static_aviso</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text</name>
                <description>Texto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>7</id_entity>
        <title>Politica de privacidad</title>
        <maintance_type>1</maintance_type>
        <table>static_politica</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text</name>
                <description>Texto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>8</id_entity>
        <title>Condiciones de uso</title>
        <maintance_type>1</maintance_type>
        <table>static_condiciones</table>
        <fields>
             <field>
                <name>id</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>text</name>
                <description>Texto</description>
                <type>text</type>
                <fckeditor>S</fckeditor>
            </field>
        </fields>
    </entity>

    <entity>
        <id_entity>10</id_entity>
        <title>Categorias</title>
        <table>categorias</table>
        <maintance_type>2</maintance_type>
        <fields>
            <field>
                <name>id_categoria</name>
                <description>id</description>
                <type>int(11)</type>
                <null>N</null>
                <auto_increment>S</auto_increment>
                <primary_key>S</primary_key>
            </field>
            <field>
                <name>categoria</name>
                <description>Categoria</description>
                <type>varchar(45)</type>
                <null>N</null>
                <in_list>S</in_list>
                <combo_description>S</combo_description>
            </field>
       </fields>
   </entity>


    
</config>