.txt_log {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	padding-top: 8px;
	margin-top: 8px;
}
.txt_campo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #F00;
	padding-top: 0px;
	margin-top: 0px;
}
.txt_superior {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	padding-top: 0px;
	margin-top: 0px;
	margin-right: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
.fondo_tabla {
	background-image: url(images/fondo_barra_sup.gif);
	background-repeat: repeat-x;
	border-top-style: none;
	border: 0px;
	border-top-width: 1px;
	border-top-color: 0;
}
.titulos {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000;
	padding-left: 10px;
	text-align: center;
}
.categorias {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	padding-left: 10px;
}
